/* src/assets/styles.css */

/* Generel font for hele body */

body {
  background-color: #f2f3ee;
}

.sideIndhold {
  display: grid;
  grid-template-columns: 1fr min(1200px, 90%) 1fr; /* Centreret indhold */
  gap: 20px; /* Afstand mellem rækker */
  padding: 20px 0; /* Indvendig afstand op og ned */
}

.sideIndhold > * {
  grid-column: 2; /* Placer alt indhold i midterkolonnen */
}

/* Specifik font for overskrifter */
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-top: 0;
}
h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
}

/* Specifik font for paragrafer */
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.nav-links {
  font-family: "Playfair Display", serif;
}

.whiteBagground {
  background-color: white;
}
