/* src/assets/styles.css */

/* Generel font for hele body */

body {
  background-color: #f2f3ee;
}

/* Specifik font for overskrifter */
h1 {
  font-family: "Playfair Display", serif; /* Font for headers */
  font-weight: 700; /* Fed skrift */
  margin-top: 0;
}
h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
}

/* Specifik font for paragrafer */
p {
  font-family: "Open Sans", sans-serif; /* Use Open Sans for paragraphs */
  font-weight: 400; /* Normal skrift */
  line-height: 1.6;
}
.nav-links {
  font-family: "Playfair Display", serif; /* Font for headers */
}

.whiteBagground {
  background-color: white;
}
